
/*background color */
body {
    background: whitesmoke;
}

/*change question font*/
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

/*remove bullet styling*/
li {
    list-style: none;
}



/*center title*/
h1 {
    text-align:center;
}

/*shift questions to the left*/
form {
    margin-left:200px;
    margin-right:auto;
}